* {
    margin: 0;
    padding: 0;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar projects";
  }

  .header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1.9fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
    "search notifications"
    "logo buttons";
  }

.search-form {
    grid-area: search;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.search-bar {
  flex-grow: 1;
  margin-right: 40px;
  border-radius: 10px;
  background-color: lightblue;
}

.mag-glass {
  height: 2vh;
  width: auto;
  margin-right: 10px;
}


.header-buttons {
    grid-area: buttons;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 50px;
}

.header-buttons button {
    width: 30%;
    height: 20%;
    border-radius: 15px;
}

.logo-section {
  grid-area: logo;
  display: flex;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-logo {
  height: 150px;
  width: auto;
  display: flex;

}

.notification {
    grid-area: notifications;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 20px;
}

.company-text {
  font-size: 30px;
}
.bell {
  height: auto;
  width: 3vw;
}

.heating-logo {
  height:100px;
  width: auto;
}

.dashboard-header {
  display: flex;
  height: 5vh;
  width: 5vh;
  margin-top: 15px;
  margin-left: 3vw;
}

.dashboard-header h1 {
  display: flex;
  align-items: center;
  color:white;
  margin-left: 1vw;
}

.sidebar {
  background-color: #bada55;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;

}

.sidebar-settings {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 3vw;
}

.sidebar-buttons {
  margin-top: 15vh;
  margin-left: 3vw;
}


.dashboard-icon {
  width: 2em;
  height: auto;
}

.dashboard-text {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  color: white;
  font-size: 1.5rem;
}

.projects {
  display: grid;
  background-color: aquamarine;
  grid-template-columns: 3fr 1fr;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3vh repeat(6, 1fr);
  grid-column: 1;
  margin-left: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  margin-top: 2vh;
}

.project-header-container {
  display: grid;
  grid-column: span 2;
  grid-row: 1;
  align-items: flex-end;
}

.inner-project-containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  height: 70%;
  width: auto;
  border-radius: 15px;
  padding: 5%;
  border-left: 5px solid yellow;
}

.inner-project-text {
  display: flex;
  align-items: flex-start;
  margin-top: 3vh;
}


.image-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 3vw;
  justify-content:flex-end;
  align-items: flex-end;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.project-icons {
  display: flex;
  height: 2rem;
  width: auto;
  flex-direction: row;
}

.right-hand-column {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content; 

}



.announcements-text-container {
  display: grid;
  height: 3vh;
  grid-row: 1;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.announcements-text {
  height: 3vh;
  margin-left: 2vw;

}


.trending-text {
  display: grid;
  grid-row: 3;
  height: 3vh;
  align-items: flex-end;
}



.site-community-update-container {
  display: grid;
  grid-row: 2;
  margin-left: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  background-color: white;
  border-radius: 15px;
  padding: 5%;
  border-left: 5px solid yellow;
}

.trending {
  display: grid;
  grid-row: 4;
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  border-radius: 15px;
  border-left: 5px solid yellow;
  padding: 5%;
}



.trending-text {
  display: grid;
  grid-row: 3;
  margin-left: 2vw;
}


.profile-text {
  flex-direction: column;
}

.animal-icons {
  display: flex;
  height: 2rem;
  width: auto;
}

